.myheader{
  text-align:center;
  background:rgba(58,58,64,0.4);
  position:relative;
  /*background: rgba(40,40,40,0.5);*/
    
}
/*5858640.8*/

.bg-dark1{
	background: rgba(40,40,50,0.95);
}


body{
	background:url("bg2.png");
	color: white;
}

.body-home{
	padding-top:55px;
}

p.lead{
	font-size:1.8vmax;
}

p.details{
		font-size:1.48vmax;
}

.card-custom{
  width: 400px; 
  height:auto; 
  color: black; 
  margin: auto;
  transition: .7s;
}

/* .card-custom:hover{
  width: 500px; 
  height:auto;
  filter: drop-shadow(10px 10px 10px #000000);
  transition: .6s ease;
} */

.body-content{
	margin: 5%;
	margin-top:0%;
}
.profilepic{
  border-radius: 50%;
  border: solid white;
  border-width: 5%;
  width:250px;
  height:250px;
  filter: drop-shadow(10px 10px 10px #000000);
  transition: .6s ease;
}

.profilepic:hover{
  width:300px;
  height:300px;
  transition: .5s ease;
  filter: drop-shadow(5px 5px 5px #888888);
  position: relative;
}
/*
.navlogo{
	height:35px;
	width:50px;
	border-radius:5px;
	opacity:1;
	background-color:rgba(40,40,50,0.95);
}
*/
.carousel-item {
  height: 500px;
  text-align: center;
  background: rgb(46, 45, 53);
  padding: 10px;
  border-radius: 2px;
}

.carouselimage{
  height: 480px;
  width: auto;
  border-radius: 5px;;
}


.headings{
	font-family: cursive;
}

p{
	font-size:1.55vmax;
}

li{
  font-size:1.55vmax;
}
a.link{
  color: #c5bde7;
}

a.link:hover{
  color: #a200ff; 
}

.contact-logo-parent{
  /* margin:auto; */
}
.contact-logo{
  height: 50px;
  width: 50px;
  /* margin: 50px; */
  border-radius: 8px;
}
footer{
  font-family: "Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", "Monaco", monospace;
  text-align: center;
  background: rgba(40,40,50,0.95);
  padding: 25px;
  margin-bottom: 0px;
}

#contact-me{
  background:rgba(58,58,64,0.4);
  padding: 50px;
  padding-top: 5px;
}

.card-title{
  font-size: 1.68vmax;
}

.card-text{
  font-size: 1.48vmax;
}

p{
  text-align: justify;
}